---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import Link from "../components/Link.astro";
import { Image } from "astro:assets";
import thumbsup from "../assets/images/thumbsup.png";
---

<MainLayout title="Titel">
  <!-- Hero Unit -->
  <section class="">
    <div>
      <p class="text-4xl font-bold">Dette er en hero teskt</p>
    </div>
    <div>
      <img src="https://picsum.photos/id/13/1500/800" />
    </div>
  </section>
  <!-- hvad er plastikforurening -->
  <section class="grid grid-cols-2 mt-10 bg-blue-700 text-white">
    <div class="">
      <p class="">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repudiandae
        quis iusto at aut officia itaque sint sapiente corrupti quisquam
        temporibus. Minima, numquam? Officiis eius fugit libero esse laboriosam
        at illo!
      </p>
      <img src="https://picsum.photos/id/13/400/300" />
    </div>
    <div class="">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio cumque
        nihil possimus sapiente fugiat odit quo repudiandae? Voluptatem aperiam
        consequatur nulla, similique sit, minima cupiditate suscipit quia
        adipisci cumque odio.
      </p>
      <img src="https://picsum.photos/id/13/400/300" />
    </div>
  </section>
  <!-- hvad er Problemet ved plastikforurening -->
  <section></section>
  <!-- hvad kan brugeren gøre -->
  <section></section>
  <!-- hvad kan brugeren gøre -->
  <section></section>
  <!-- informerer om hvordan Plastic Change gør en forskel -->
  <section></section>
  <!-- sektion med “merchandise” -->
  <section></section>

  <!-- <article>
		<h1>Index overskrift</h1>
		<Button>Klik!</Button>
		<p>Link til <Link href="https://www.kea.dk" target="_blank">En anden side</Link></p>
		<Image src={thumbsup} alt=""></Image>
	</article> -->
</MainLayout>
